
@{
    ViewData["Title"] = "All";
}

<br />
<br />
<br />
<section class="site-section border-bottom">

    <h4 class="col-md-8 col-lg-8 col-sm-8 offset-md-2 offset-lg-2 offset-sm-2">All Property</h4>



    <div class="col-md-8 col-lg-8 col-sm-8 offset-md-2 offset-lg-2 offset-sm-2">
        @(Html.Kendo().Grid<AgentModel>
    ()
    .Name("agentGrid")
    .Columns(columns =>
    {
    columns.Bound(c => c.FirstName).Title("First Name").Width(190);
    columns.Bound(c => c.LastName).Title("Last Name").Width(190);
    columns.Bound(c => c.CompanyName).Title("Company Name").Width(190);
    columns.Bound(c => c.Email).Title("Email").Width(190);
    columns.Bound(c => c.PhoneNumber).Title("Phone Number").Width(190).Format("{0:(###) ###-####}");




    columns.Command(c =>
    {
    c.Edit();
    c.Destroy();
    }).Width(200);



    })



    .ToolBar(tools => {
    tools.Create().Text("Add Agent ");
    tools.Excel();
    tools.Pdf();
    })
    .Excel(excel => excel
    .FileName("Agent.xlsx")
    .Filterable(true)
    )
    .Pdf(pdf => pdf
    .FileName("Agent.pdf")
    )
    .Scrollable(s => s.Height("auto"))
    .Groupable()
    .Editable(e => e.Mode(GridEditMode.PopUp).TemplateName("AddAgentEditor").Window(w => { w.Title("Add Agent"); }))
    .Sortable()
    .Filterable(f => f.Enabled(true).Operators(o =>
    {
    o.ForDate(t =>
    {
    t.Clear();
    t.IsGreaterThan("Start Date");
    t.IsLessThan("End Date");
    });
    })
    )
    .Pageable(pageable => pageable
    .Refresh(true)
    .PageSizes(true)
    .ButtonCount(3).PageSizes(new int[] { 10, 100, 1000 }))
    .DataSource(dataSource => dataSource
    .Ajax()
    .PageSize(100)
    .Model(m => m.Id(p => p.AgentId))
    .Events(events =>
    {
    events.Error("error_handler");
    })
    .Read(read => read.Action("Agent_Read", "Agent"))
    .Create(c => c.Action("Agent_Add", "Agent"))
    .Update(c => c.Action("Agent_Update", "Agent"))
    .Destroy(c => c.Action("Agent_Delete", "Agent"))



    )
    )
    </div>


</section>


@section Scripts{

    <script>

        $(document).ready(function () {
            $('#agentGrid').data('kendoGrid').dataSource.transport.options.create.complete = function (e) {
                if (e.status == 200) {
                    $('#agentGrid').data('kendoGrid').dataSource.read();
                }
            };



            $('#agentGrid').data('kendoGrid').dataSource.transport.options.update.complete = function (e) {
                if (e.status == 200) {
                    $('#agentGrid').data('kendoGrid').dataSource.read();
                }
            };




        });

        function error_handler(e) {
            try {
                var errorMessage = "";
                if (e && e.xhr) {
                    var errorMessage = e.xhr.responseText;
                }



                if (errorMessage) {
                    alert(errorMessage);
                }



            } catch (e) {
                console.log(e);
                alert("Oops! An error occurred while processing your request");
            }
        }








    </script>
}



